@-webkit-keyframes { from { opacity: 0 } to { opacity: 1 } }
@-moz-keyframes { from { opacity: 0 } to { opacity: 1 } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
/*Reset */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: "Open Sans", sans-serif
}

body {
  line-height: 1;
  font-size: 88%
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0.6em 0;
  margin: 0 15px
}

ul, ol {
  list-style: none
}

a {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.margin-top-10 {
  margin-top: 5%;
  padding: 1%
}

.red {
  color: #F36;
  font-weight: 600
}

i {
  color: rgba(43, 47, 56, 1);
  position: relative;
  bottom: 12px
}

/* Reset */
/* Effects */
.fade-in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s
}

/* Effects */
html, body {
  width: 100%;
  height: 100%
}

body {
  background-image: url(../img/background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(43, 47, 56, 0.8);
  padding-top: 10vh;
  overflow: auto;
  overflow-x: hidden
}

.form-container {
  text-align: center;
  position: relative;
  height: 40em
}

.container {
  width: 100%;
  background-color: rgba(43, 47, 56, 1);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px
}

.container .logo {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%
}

.container .logo img {
  width: 8%
}

.container .register-form {
  background-color: white;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px
}

.container .register-form .content {
  padding-bottom: 10%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: center
}

.container .register-form .content h1 {
  font-size: 140%;
  font-weight: 400
}

.container .register-form .content p {
  font-size: 100%;
  color: grey;
  text-align: center
}

.container .register-form .content .terms {
  padding-top: 5%
}

.container .register-form .content a {
  pointer: none
}

.container .register-form .content .red-button {
  width: 100%;
  height: 20%;
  background-color: #F36;
  color: white;
  padding: 5%;
  margin-top: 5%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600
}

.downtext {
  padding-top: 2em;
  text-align: center;
  color: grey
}

.downtext p {
  font-size: 1em
}

.downtext a {
  color: #F36
}
